
		body {
			opacity: #fff;
			font: 12px Georgia,sans-serif;
		}

		#wrapper {
			width:960px;
			margin:0 auto;
		}
		h1,h2 {
			margin:0;
			padding: 0;
			text-align:center;
			color:#333;
		}
		h1 {
			font-size:26px;
		}
		h2 {
			font-size:15px;
			font-weight: normal;
		}
		#header {
			margin-bottom:20px;
		}
		svg {
			font: 10px sans-serif;
		}
		.label {
			fill:#000;
			font-size:10px;
			text-transform: uppercase;
			display: none;
			fill-opacity:0.2;
		}
		
		.title {
			fill:#000;
			font-size:12px;
			text-transform: uppercase;
			font-weight: bold;
			fill:#666;
		}

		#src g:hover rect,
		#dst g:hover rect,
		#src g:hover path,
		#dst g:hover path {
			/*fill:#856531 !important;*/
		}
		.label.visible {
			fill-opacity:1;
			font-weight: bold;
			display: block;
		}
		.label.permanent {
			display: block;
			fill-opacity:1;
		}
		/*
		svg path {
			-webkit-transition: fill-opacity 0.25s ease-out;
			-moz-transition: fill-opacity 0.25s ease-out;
	        -ms-transition: fill-opacity 0.25s ease-out;
	        -o-transition: fill-opacity 0.25s ease-out;
			transition: fill-opacity 0.25s ease-out;
		}
		*/
		#flows_v path {
			fill:#856531;
			fill-opacity:0;
			stroke:none;
			stroke-width:0;
		}
		
		#flows_v path.highlight {
			/*fill:#ddd !important;*/
			fill-opacity:1;
			stroke:none;
			stroke-width:0;
		}
		#flows_v path.border {
			fill:none !important;
		}
		#flows_v path.highlight.border {
			stroke:#fff;
			stroke-width:1.5;
			
		}
		#flows_v g.no-stroke path.highlight {
			stroke-width:0;	
		}
		#flows_v g.no-stroke path.highlight.border.top {
			stroke-width:1.5;
		}
		/*23a4db d8232a*/
		
		#flows_v g.no-stroke.private path.highlight.border.top {
			stroke:#23a4db;
			stroke-width:1;
			stroke-opacity:0.2;
		}
		#flows_v g.no-stroke.public path.highlight.border.top {
			stroke:#d8232a;
			stroke-width:1;
			stroke-opacity:0.2;
		}
		
		/*
		var gradientPrivate=generateLinearGradient(svg,"gradientPrivate","#a69ca9","#ac77bb");
		var gradientPublic=generateLinearGradient(svg,"gradientPublic","#6b9abf","#87a4bb");	
		*/
		#flows_v path.private {
			fill:url(#gradientPrivate);
		}
		#flows_v path.public {
			fill:url(#gradientPublic);
		}
			
		g.interacting .label,
		g.clicked .label {
			fill-opacity:0.2;
		}
	
		#src path,
		#src_public path,
		#dst path {
			fill:#856531;
			fill-opacity:0.1;
			stroke:#ddd;
			stroke-width:1;
		}
		
		circle.sub {
			fill:#ffffff;
			stroke:#fff;
			stroke-width:1.5;
			fill-opacity:1;
			stroke-opacity:1;
		}
		/*
		g.interacting g circle.private.sub:not(.highlight) {
			fill:#c0dbe7 !important;
		}
		g.interacting g circle.public.sub:not(.highlight) {
			fill:#ffced0 !important;
		}
		*/
		g.interacting g.highlight circle.sub.highlight {
			fill-opacity:1;
			stroke-opacity:1;
			stroke:#fff;
			stroke-width:1.5;
		}

		circle.no-stroke { /*path.no-stroke*/
			stroke:none !important;
		}

		#src g.highlight path,
		#src_public g.highlight path,
		#dst g.highlight path {
			fill-opacity:0.2;
			fill:#bfac82 !important;
			stroke:#ddd;
			stroke-width:1;
		}
		

		#src g.highlight path.extra,
		#src_public g.highlight path.extra,
		#dst g.highlight path.extra {
			fill-opacity:0;
		}
		
		/*
		#src g.highlight.text-visible .label,
		#dst g.highlight.text-visible .label {
		*/
		g.highlight .label {
			fill-opacity:1;
			font-weight: bold;
			display: block;
		}

		svg text.year {
			font-size:18px;
			font-weight: 100;
			color:#666;
			text-anchor:middle;
		}
		
		#ux > g {
			cursor:pointer;
		}

		/************************* STACKCHART ***************************/

		

		#stackchart svg rect,
		#stackchart svg line {
			shape-rendering: crispEdges;
		}
		#stackchart path {
			stroke:#333;
			stroke-width:1;
		}
		#stackchart svg text {
			fill:#999;
		}
		#stackchart svg text.clickable {
			fill:#000;
			cursor: pointer;
			font-weight: bold;
		}
		#stackchart svg text.clickable:hover {
			font-weight: bold !important;
			fill: #d8232a;
			font-size:12px;
		}
