/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
		
		body {
			opacity: #fff;
			font: 12px sans-serif;
		}

		#wrapper {
			width:960px;
			margin:0 auto;
		}
		h1,h2 {
			margin:0;
			padding: 0;
			text-align:center;
			color:#333;
		}
		h1 {
			font-size:26px;
		}
		h2 {
			font-size:15px;
			font-weight: normal;
		}
		#header {
			margin-bottom:20px;
		}
		svg {
			font: 10px sans-serif;
		}
		.label {
			fill:#000;
			font-size:10px;
			text-transform: uppercase;
			display: none;
			fill-opacity:0.2;
		}
		
		.title {
			fill:#000;
			font-size:12px;
			text-transform: uppercase;
			font-weight: bold;
			fill:#666;
		}

		#src g:hover rect,
		#dst g:hover rect,
		#src g:hover path,
		#dst g:hover path {
			/*fill:#856531 !important;*/
		}
		/*
		#ux .ux-src:hover .label {
			display: block;
			fill-opacity:1;
		}
		*/
		.label.visible {
			fill-opacity:1;
			font-weight: bold;
			display: block;
		}
		.label.permanent {
			display: block;
			fill-opacity:1;
		}
		/*
		svg path {
			-webkit-transition: fill-opacity 0.25s ease-out;
			-moz-transition: fill-opacity 0.25s ease-out;
	        -ms-transition: fill-opacity 0.25s ease-out;
	        -o-transition: fill-opacity 0.25s ease-out;
			transition: fill-opacity 0.25s ease-out;
		}
		*/
		

		#flows_v path {
			fill:#856531;
			fill-opacity:0;
			stroke:none;
			stroke-width:0;
		}
		
		#flows_v path.highlight {
			/*fill:#ddd !important;*/
			fill-opacity:1;
			stroke:none;
			stroke-width:0;
		}
		#flows_v path.border {
			fill:none !important;
		}
		#flows_v path.highlight.border {
			stroke:#fff;
			stroke-width:1.5;
			
		}
		#flows_v g.no-stroke path.highlight {
			stroke-width:0;	
		}
		#flows_v g.no-stroke path.highlight.border.top {
			stroke-width:1.5;
		}
		/*23a4db d8232a*/
		
		#flows_v g.no-stroke.private path.highlight.border.top {
			stroke:#23a4db;
			stroke-width:1;
			stroke-opacity:0.2;
		}
		#flows_v g.no-stroke.public path.highlight.border.top {
			stroke:#d8232a;
			stroke-width:1;
			stroke-opacity:0.2;
		}

		/*
		var gradientPrivate=generateLinearGradient(svg,"gradientPrivate","#a69ca9","#ac77bb");
		var gradientPublic=generateLinearGradient(svg,"gradientPublic","#6b9abf","#87a4bb");	
		*/
		#flows_v path.private {
			fill:url(#gradientPrivate);
		}
		#flows_v path.public {
			fill:url(#gradientPublic);
		}
			
		g.interacting .label,
		g.clicked .label {
			fill-opacity:0.2;
		}
	
		#src path,
		#src_public path,
		#dst path {
			fill:#856531;
			fill-opacity:0.1;
			stroke:#ddd;
			stroke-width:1;
		}
		
		circle.sub {
			fill:#ffffff;
			stroke:#fff;
			stroke-width:1.5;
			fill-opacity:1;
			stroke-opacity:1;
		}
		/*
		g.interacting g circle.private.sub:not(.highlight) {
			fill:#c0dbe7 !important;
		}
		g.interacting g circle.public.sub:not(.highlight) {
			fill:#ffced0 !important;
		}
		*/
		g.interacting g.highlight circle.sub.highlight {
			fill-opacity:1;
			stroke-opacity:1;
			stroke:#fff;
			stroke-width:1.5;
		}

		circle.no-stroke { /*path.no-stroke*/
			stroke:none !important;
		}

		#src g.highlight path,
		#src_public g.highlight path,
		#dst g.highlight path {
			fill-opacity:0.2;
			fill:#bfac82 !important;
			stroke:#ddd;
			stroke-width:1;
		}
		

		#src g.highlight path.extra,
		#src_public g.highlight path.extra,
		#dst g.highlight path.extra {
			fill-opacity:0;
		}
		
		/*
		#src g.highlight.text-visible .label,
		#dst g.highlight.text-visible .label {
		*/
		g.highlight .label.permanent,
		.clicked g.highlight .label {
			fill-opacity:1;
			font-weight: bold;
			display: block;
		}
		
		.clicked #uxSrc g.ux-src.highlight:hover .label {
			fill:#23a4db;
		}
		.clicked #uxSrc_public g.ux-src.highlight:hover .label {
			fill:#d8232a;
		} 

		svg text.year {
			font-size:18px;
			font-weight: 100;
			color:#666;
			text-anchor:middle;
		}
		
		#ux > g {
			cursor:pointer;
		}
		#svg {
			position: relative;
		}
		#tooltip {
			display: none;
			font-family: sans-serif;
			top:0;
			left:420px;
			width:120px;
			min-height:90px;
			height: auto;
			border:1px solid #999;
			background: #fff;
			background-color:rgba(255,255,255,0.9);
			position: absolute;
			z-index: 9999;
			text-align: center;
			padding:5px;
			
			-webkit-transition: top 0.1s ease-out;
			-moz-transition: top 0.1s ease-out;
	        -ms-transition: top 0.1s ease-out;
	        -o-transition: top 0.1s ease-out;
			transition: top 0.1s ease-out;
			
		}
		#tooltip h3,
		#tooltip h4,
		#tooltip h5 {
			margin:0;
			padding: 0;
			text-align: center;
		}
		#tooltip h3 {
			font-size: 11px;
			text-transform: uppercase;
			color:#666;
			display: block;
			min-height: 30px;
		}
		#tooltip h4 {
			font-size: 16px;
			color:#000;
		}
		#tooltip i {
			font-size: 10px;
			color:#999;
		}
		#tooltip .click,
		#tooltip a {
			position: absolute;
			width: 100%;
			bottom: 2px;
			left:0;
		}
		#tooltip a {
			display: none;
			color:#26a2d0;
			text-decoration: underline;
		}
		#tooltip a:hover {
			color:#e41b23;
		}
		#tooltip #ttContents {
			display: none;
		}
			
		#tooltip.expanded .click {
			display: none;
		}

		#tooltip.expanded a {
			display: block;
		}

		#tooltip.expanded #ttContents {
			display: block;
		}
		
		#tooltip.expanded.dst #ttContents div {
			width: 47% !important;
			float: left;
		}
		#tooltip.expanded #ttContents div.tt-private  {
			width: 100%;
			margin-right:3px;
			float: left;
		}
		#tooltip.expanded #ttContents div.tt-public  {
			width: 100%;
			margin-left:3px;
			float: right;
		}
		#tooltip.expanded h3 {
			font-size: 14px;
		}
		#tooltip.expanded h4 {
			font-size: 20px;
			margin: 3px 0;
		}
		#tooltip.expanded #ttContents div h5 {
			display: none;
			font-size: 18px;
		}
		#tooltip.expanded #ttContents div i {
			display: none;
		}
		#tooltip.expanded.dst #ttContents div h5,
		#tooltip.expanded.dst #ttContents div i {
			display: block;
		}
		#tooltip.expanded.dst #ttContents div.tt-public,
		#tooltip.expanded.dst #ttContents div.tt-private {
			display: block;
		}
		#tooltip.expanded.private #ttContents div.tt-public,
		#tooltip.expanded.public #ttContents div.tt-private {
			display: none;
		}
		#tooltip.expanded #ttContents div.tt-public h5 {
			color:#d8232a; 
		}
		#tooltip.expanded #ttContents div.tt-private h5 {
			color:#23a4db;
		}
		#tooltip.expanded #ttContents div h5 span {
			display: block;
			font-size: 11px;
			color: inherit;
			font-weight: normal;
		}
		#tooltip ol {
			margin: 5px 0 0;
			padding: 0;
			list-style: none;
			font-size:11px;
		}
		
		#tooltip ol li {
			text-align: left;
			display: block;
			margin:2px 0;
			line-height: 14px;
			height: 14px;
		}
		#tooltip ol li span.name {
			display: block;
			float: left;
			width: 110px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			text-transform: capitalize;
		}
		#tooltip.dst ol li span.name {
			width: 92px;
		}
		#tooltip ol li span.val {
			display: block;
			float: right;
		}

		/************************* STACKCHART ***************************/

		
		#stackchart svg rect,
		#stackchart svg line {
			shape-rendering: crispEdges;
		}
		#stackchart path {
			stroke:#333;
			stroke-width:1;
		}
		#stackchart svg text {
			fill:#999;
		}
		#stackchart svg text.clickable {
			fill:#000;
			font-weight: bold;
		}
		#stackchart svg g.vrule {
			
		}
		#stackchart svg g.vrule.hover text.clickable {
			font-weight: bold !important;
			fill: #d8232a;
			font-size:12px;
		}
		#stackchart svg g.vrule line {
			stroke:#fff;
			stroke-opacity:0.2;
		}
		#stackchart svg g.vrule.hover line {
			stroke:#333;
			stroke-opacity:1;
		}
		#stackchart svg g.vlabel {
			cursor: pointer;
		}
		#stackchart svg g.vlabel.hover *{
			display: block;
		}
		#stackchart svg g.vlabel text {
			display: none;
			fill:#333;
			font-size:12px;
		}
		#stackchart svg g.vlabel rect {
			display: none;
			fill:#fff;
			stroke:#999;
			stroke-width:1;
		}
		#stackchart svg g.vlabel circle {
			display: none;
			fill:#fff;
			stroke:#333;
			stroke-width:4;
		}
		#stackchart svg g.vlabel rect.ux {
			fill:#000;
			display: block;
		}

/***************** TOTALS ******************/
#totals {
	margin-top:30px;
}
#totals > div {
	float: left;
	width:33%;
}
#totals div#tot_private {
	text-align: left;
}
#totals div#tot {
	text-align: center;
}
#totals div#tot_public {
	text-align: right;
}
#totals h3 {
	margin: 5px 0 0;
	padding: 0;
	font-size: 20px;
}
#totals #tot_private h3 {
	color:#23a4db;
}
#totals #tot_public h3 {
	color:#d8232a;
}
#totals {
	
}
#totals h2.year {
	font-size: 18px;
	height: 18px
}
#totals span.arrow {
	color:#333;
	font-family: sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	width:100%;
	height:18px; 
	display: block;
}
#totals div#tot_private span.arrow {
	background: transparent url(../img/arrow_left.png) left bottom no-repeat;
}
#totals div#tot_public span.arrow {
	background: transparent url(../img/arrow_right.png) right bottom no-repeat;
}

#totals ol {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	text-transform: capitalize;
}
